h1 {
	font-size: 32px;
	margin-left: 1.7em;
}

h2 {
	font-size: 30px;
	margin-left: 5em;
}

p {
	font-size: 20px;
	color: red;
}

table {
	text-align: left;
	margin-bottom: 20px;
}

td {
	width: 330px;
	margin-right: 70px;
	margin-left: 20px;
	font-size: 17px;
}

section {
	width: 90%;
	margin-left: 15px;
	margin-top: 25px;
	padding: 10px;
	float: left;
}

aside {
	width: 10%;
	margin-left: 15px;
	margin-top: 25px;
	padding: 10px;
	float: left;
	font-size: 1.5em;
}


