html {
	background:  #EEEDEE;
	font-family: Courier;
}

div {
	color: #444142;
	font-size: 16px;
}

h1 {
	font-size: 38px;
	margin-left: 20px;
	color: #444142;
}

h2 {
	font-size: 40px;
	margin-left: 160px;
	color: #444142;
}

p {
	font-size: 20px;
	color: #3836FF;
	text-align: left;
}

table {
	text-align: left;
	margin-bottom: 20px;
	color: #444142;
}

td {
	text-align: left;
	width: 450px;
	margin-right: 70px;
	margin-left: 20px;
	font-size: 17px;
}

section {
	width: 90%;
	margin-left: 15px;
	padding: 10px;
	float: left;
}

aside {
	width: 10%;
	margin-left: 15px;
	margin-top: 25px;
	padding: 10px;
	float: left;
	font-size: 1.5em;
}











